* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Font-family: "Manrope", sans-serif;


    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --text-h1: 700 20px/28px/0.25px var(--Font-family);
    --text-p: 500 13px/20px/0.12px var(--Font-family);
    --text-h2: 700 13px/28px/0.25px var(--Font-family);

}

.container{
    padding: 260px 355px;
}